/* Widget - Follow Email ========================== */

.widget-follow-email {
  
    form {
      
        input[ type='text' ] {
            background: $color-field !important;   
            color: $color-field-text;             
        } 
        
        input[ type='submit' ] {
            font-family: aller-regular;
        }
    }
}

/* Widget - Social Share ========================== */

.widget-social-share {
  
    li {
          display: inline-block;
          
          a {
                background: $color-secondary;
                color: white;
                padding: 1em;                
                @include transit-all( $transit-eio, $transit-time-small, $delay: 0s );
                
                &:hover {
                    background: darken( $color-secondary, 10% );
                }
          }
    }
}
