.module {

    .module-wrap-content {
          margin-top: 75px;
  
          .module-header {
                text-align: center;
          }
    }

    @include responsive-min( screen-tablet-large ) {
    
        .module-wrap-content {
              margin-top: 110px;
        }
    } 
}

// Cmg Stick Menu ---------------------------------

.cmg-stick-menu {
  background: $color-secondary-text-d;
  bottom: 0;
  padding: 5%;
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 999;
  left: -700px;
  
  ul {
    
    li {
      margin: 10% 0;
      
      a {
        color: white;
        @include transit-color( $transit-eio, $transit-time-small, $delay: 0s );
        
        &:not(.fa) {
           font-family: aller-regular;
        }   
        
        &:hover {
          color: darken( white, 20% );
        } 
      }
      
      &.menu-close {
        text-align: right;
        font-size: $font-size-1;   
      }      
    }
  }
}

// Blog -------------------------------------

.blog {
    min-height: 600px;
    height: auto;
    padding: 2%;
    background: url('../images/pattern.jpg');
    
    .icon-grid, .icon-list {
          color: $color-secondary-text-d;
          font-size: 2em;
          margin-top: 0.6em;
          @include transit-all( $transit-eio, $transit-time-small, $delay: 0s );  
          
          &:hover {
            color: lighten( $color-secondary-text-d, 10% );
          }
    }
    
    .wrap-posts { 
        height: auto;
        padding: 2%;
        background: white;
        margin: 2% 0;
        
        &.post-single {
          
            img {
                width: 100%;
            }
            
            .content {
                color: $color-primary-text;
                font-family: amble-light;
                margin: 2em 0;
                font-size: $font-size-7;
                line-height: 1.5em;
            }
            
            .post-data {
                position: relative;
                width: 100%;
                margin: 1em 0;
                color: $color-secondary-text-d;
                
                .date {
                    float: left;
                    font-family: amble-regular;
                    font-size: $font-size-6;
                }
                
                .comment {
                    float: right;
                    font-size: $font-size-6;
                }
            }
        }
        
        .post {            
            border-bottom: 1px solid $color-secondary;
            margin: 5% 0;
            
            .media {
              
                a img.home {
                    min-width: 350px;
                    min-height: 350px;
                }
            }
              
            .sidebar {
                margin-bottom: 0;
                position: relative;
                
                .date {
                    @include rounded(100px);
                    background: $color-secondary;
                    position: absolute;
                    top: 0;
                    text-align: center;
                    padding: 18% 14%;
                    right: 5%;
                    @include transit-all( $transit-eio, $transit-time-small, $delay: 0s );  
                    
                    &:hover {
                        background: darken( $color-secondary, 5% );
                    }
                    
                    .day {
                        font-family: aller-bold;
                        font-size: 2em;
                    }
                    
                    .month {
                        font-family: amble-regular;
                        color: $color-secondary-text-l;
                    }
                }
                
                .comment {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background: $color-primary;
                    color: $color-secondary-text-d;
                    padding: 18% 25%;
                    @include transit-all( $transit-eio, $transit-time-small, $delay: 0s );
                    
                    &:hover {
                        background: darken( $color-primary, 5% );
                    }
                    
                    p {
                        color: $color-secondary-text-d;
                        font-size: $font-size-5;
                    }
                    
                    .fa {
                        color: $color-secondary-d;
                        margin: 2% 0;
                    }
                }
            } 
            
            .module-container {
                position: relative;
            }
        }
        
        .media {
            position: relative;
            overflow: hidden;
            
            &:hover, &.hover {
              
                .hover-content {
                    margin-bottom: 0;
                }
            }
            
            .hover-content {
                position: absolute;
                bottom: 0; 
                background: $color-transparent-black;
                margin-bottom: -100%;
                @include transit-all( $transit-eio, $transit-time-small, $delay: 0s );
                
                .icon {
                    background: $color-primary-l;
                    color: $color-secondary;
                    font-size: $font-size-1;
                    padding: 1% 2%; 
                    border-radius: 50%;  
                    margin-top: -4% !important;
                } 
                
                p {
                    font-family: amble-light;
                    color: $color-secondary-text-l;
                    margin: 3% 0;
                }
                
                .btn {
                    background: $color-button;
                    font-family: aller-regular;
                    width: 40%; 
                    @include transit-all( $transit-eio, $transit-time-small, $delay: 0s );
                    
                    &:hover {
                        background: darken( $color-button, 10% );
                    }
                }
            }  
        }
    }
    
    #sidebar, #wrap-comment {
      
        form {          
            margin: 1em 0 0.6em;
            
            input[type="text"] {
                background: $color-primary-l;  
            }
          
            .button {
                width: 15%;  
                
                button {
                    background: $color-secondary;
                    color: $color-primary-l;
                    @include transit-all( $transit-eio, $transit-time-small, $delay: 0s );
                    
                    &:hover {
                      background: darken( $color-secondary, 10% );
                    }
                }
            }
        } 
        
         #frm-comment {
              box-shadow: 1px 1px 3px #C0C0C0;
              min-height: 30px;
              padding: 1em;
              
              .title-medium {
                  border-bottom: 1px solid $color-secondary;
                  padding-bottom: 1em;
              }
              
              form {
                  input {
                      background: $color-field;
                  }
                  
                  input[type='submit'] {
                      background: $color-button;
                      color: $color-button-h-text;
                      font-family: aller-regular;
                      
                      &:hover {
                        background: darken( $color-button, 10% );
                      }
                  }
              }
          }
        
        .wrap-sidebar-posts, .wrap-comments {
            margin: 0 0 1em 0;
            min-height: 10px;
            padding: 1em;
            background: white;
          
            .title-medium a, .title-medium {
                border-bottom: 1px solid $color-secondary;
                padding-bottom: 1em;
            }
             
            .sidebar-post, .comment {
                padding: 1em 0;
                display: block;
                border-bottom: 1px solid silver;
                
                &.comment {
                  
                    border-color: $color-secondary;
                    
                    .media {
                         background: snow;
                         font-size: 4em;
                    } 
                }
                
                &:hover .content p {
                    color: $color-secondary-text-d;
                }
                
                &.comment:hover .content p {
                  color: $color-primary-text;
                }
                
                .content {
                    position: relative;
                    
                    p, .comment-user, .comment-date {
                        color: $color-primary-text;
                        font-family: amble-light;
                        font-size: $font-size-8;
                        line-height: 1.5em;
                        @include transit-all( $transit-eio, $transit-time-small, $delay: 0s );
                    } 
                    
                    .comment-user, .comment-date {
                        float: left;
                        color: $color-secondary-text-d;
                    }
                    
                    .comment-date {
                        float: right;
                    }
                    
                    .comment-content {
                      float: left;
                      width: 100%;
                    }
                } 
                
                .sidebar-media, .media {
                    text-align: center;
                }
            }
        }       
    }
}

#template-blog {
  
    .post {
        width: 50%; 
        float: left;
        border: 0px;
        margin: 2% 0; 
        
        .sidebar {
          display: none;
        }
    } 
}

@include responsive-max( screen-tablet-large ) {
   
     .blog { 
       
        .wrap-posts { 
          
          .post { 
            
              .sidebar {
                  min-height: 40px;
                  position: relative;
                  
                  .date { 
                      left: 0;
                      padding: 4% 1%;
                      top: 0;
                      width: 60%;
                      border-radius: 0;
                  } 
                           
                  .comment { 
                      right: 0;
                      padding: 4% 1%;
                      top: 0;
                      width: 40%; 
                      border-radius: 0;
                  }
              } 
            } 
        }
    }
  
    .content-80 {
        padding: 0;
    }
} 

@include responsive-max( screen-tablet-large ) {
  
    .icon-grid, .icon-list {
          display: none;
    }
}

@include responsive-max( screen-mobile-large ) {
  
    .post {
          width: 100% !important;
    }
    
    .post-data { 
      
        .comment {
            clear: left;
            float: left !important; 
            margin: 1em 0;
        }
    }
}
