// Common Modules ------------------------------------------

.module {

    .module-wrap-content {
        margin-top: 75px;

        .module-header {
            text-align: center;
        }
    }

    @include responsive-min( screen-tablet-large ) {

      .module-wrap-content {
          margin-top: 110px;
      }
    }
}

// Landing Page modules ------------------------------------

#module-banner {

    .module-bkg-parallax {
        background-image: url(../images/pad.jpg);     
    }

    .module-wrap-content {
        background-color: $color-transparent-gray;
        width: 80%;
        height: 200px;
        margin: 0 auto;

        .module-content {
            padding: 3%;
            font-size: 2.5em;
            text-align: center;
            color: $color-tertiary-text;
        }
    }

    @include responsive-min( screen-tablet-large ) {

        .module-content {
            font-size: 3.5em;
        }
    }
}

#module-about {

    .row {
        width: 80%;
    }

    .container {
        background-color: $color-primary-l;
        margin: 1em 1%;

        .content {
            margin: 1em 0;
        }
    }
    
    .portfolio {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding-top:80px;
    }
    
    @include responsive-max( screen-tablet-large ) {
      
        height:auto;
        overflow:visible;
        
        .portfolio {          
               padding-top:80px;
                transform:translateY(0%);          
        }
    }     
}

#module-contact {
    height:auto;
    overflow:visible;
    padding:120px 0 40px;

    .module-bkg {
        background-image: url(../images/keyboard.jpg);
    }

    .module-wrap-content {
        background-color: $color-primary-l;
        width: 90%;
        height: auto;
        margin: 0px auto;
        padding-top: 1em;

        .module-content {
            padding: 3%;
            text-align: center;
            color: $color-primary-text;

            .col2 {
                margin:0 2% 0 0;
            }

            .split-col {
                margin:0;
                width:50%;
            }

            textarea, .icon-textarea {
                height: 80px;
            }

            input[type="submit"] {
                background-color: $color-tertiary;
            }
        }
    }

    @include responsive-max( screen-tablet-large ) {

        padding: 80px 0 30px;
    
        .module-wrap-content {
            background-color: $color-transparent-tertiary;
            color: $color-tertiary-text;
            height: auto;
            margin: 0 auto;
           // margin-top: 75px;
            margin-bottom: 75px;
            transform:translateY(0%);
    
            .module-content {
    
                .col2 {
                    width:100%;
                }
    
                .split-col {            
                    width:100%;
                }
            }
        }

        .module-content h6, .module-content p {
            color: $color-tertiary-text;
        }
    }        
    
    @include responsive-min( screen-tablet-large ) {

        .module-wrap-content {
            width: 820px;
        }
    }
}

// Other Modules -------------------------------------------

#module-public {
    padding:120px 0 40px;
    height:auto;

    .module-bkg {
        background-image: url(../images/pad.jpg);     
    }

    .module-wrap-content {
        background-color: $color-tertiary;
        margin: 0 auto;
        color: $color-tertiary-text;
        padding: 1em;
        width: 400px;

        a {
            color: $color-tertiary-text;
        }

        .help-block {
            color: $color-error;
        }
    }

    @include responsive-max( screen-tablet-large ) {
        padding:80px 0 40px;
    }

    @include responsive-max( screen-mobile-large ) {

        .module-wrap-content {
            background-color: $color-transparent-tertiary;
            width: 80%;
        }
    }
}