.popout-header {
    position: absolute;
    width: 100%;
    background-color: $color-tertiary;
    padding: 2% 4%;

    a, .warning {
        color: $color-tertiary-text;
    }

    @include responsive-min( screen-mobile-large ) {
        right: 0;
        width: 280px;
        padding:5px 20px;
    }

    @include responsive-min( screen-tablet-large ) {
        right: 10%;        
    }
}

#wrap-login-register, #box-signup, #box-settings {
    display: none;
    color: $color-secondary-text;
}