/* Need to add 2 classes to the parent div 1 .pagination, 2 .tag */
 
.tag {
    border-bottom: 0; 
    margin: 2em 0; 
    
    .title-medium {
        margin: 1em 0;
        border-bottom: 1px solid $color-secondary;
        padding-bottom: 1em;
        text-align: left;
    }
      
    ul {         
        text-align: left;
        
        li {               
            display: inline-block; 
            margin: 0.3em;           
            
            a {
                border: 1px solid $color-secondary;
                padding: 0 0.5em;                
                @include transit-all( $transit-eio, $transit-time-small, $delay: 0s );
                    
                    &:hover, &.active {                      
                          background: $color-secondary;
                          color: $color-secondary-text-l;
                    }
            }
        }
    }
}
 