@font-face {
  font-family: 'aller-regular'; 
  src: url("../fonts/aller-regular.eot");
  src: url("../fonts/aller-regular.woff");
  src: url("../fonts/aller-regular.ttf");
  src: url("../fonts/aller-regular.svg");
  font-weight: strong;
  font-style: normal;
}

@font-face {
  font-family: 'aller-bold'; 
  src: url("../fonts/aller-bold.eot");
  src: url("../fonts/aller-bold.woff");
  src: url("../fonts/aller-bold.ttf");
  src: url("../fonts/aller-bold.svg");
  font-weight: strong;
  font-style: normal;
}

@font-face {
  font-family: 'amble-regular'; 
  src: url("../fonts/amble-regular.eot");
  src: url("../fonts/amble-regular.woff");
  src: url("../fonts/amble-regular.ttf");
  src: url("../fonts/amble-regular.svg");
  font-weight: strong;
  font-style: normal;
}

@font-face {
  font-family: 'amble-light';
  src: url("../fonts/amble-light.eot");
  src: url("../fonts/amble-light.woff");
  src: url("../fonts/amble-light.ttf");
  src: url("../fonts/amble-light.svg");
  font-weight: strong;
  font-style: normal;
}